body, h1, h2, p, ul, li, button, input {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(255, 196, 250);
}

header {
  background-color: blanchedalmond;
  color: #007bff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#highScores a {
  color: #007bff;
  text-decoration: none;
}

main {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: blanchedalmond;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#welcome h1 {
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

#quiz, #result {
  margin-top: 20px;
}

#options button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#options button:hover {
  background-color: rgb(255, 196, 250);
}

#message {
  margin-top: 10px;
}

#summary {
  font-weight: bold;
  margin-bottom: 20px;
}

#initials {
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(255, 196, 250);
}